
<center>
<img src="images/ods_stickers.jpg" />
    
# Inferencia Estadística  2021

Basado en material de  [Yury Kashnitsky](https://yorko.github.io). Traducido y editado al español por [Ana Georgina Flesia](https://www.linkedin.com/in/georginaflesia/). Este material esta sujeto a los términos y condiciones de la licencia  [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Se permite el uso irrestricto para todo propósito no comercial.

# Ejercicio 1. Análisis exploratorio con Pandas

<img src="images/pandas.jpg"  width=50% />

**En esta tarea se tiene que usar Pandas para responder preguntas sobre el  dataset [Adult](https://archive.ics.uci.edu/ml/datasets/Adult). **

Variables y su tipo:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# para dibujar gráficos en jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# no nos gunstan los avisos
# se puden comentar las dos lineas si se quiere tener avisos
import warnings
warnings.filterwarnings('ignore')

In [37]:
data = pd.read_csv('data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. ¿Cuantas mujeres y hombres (variable *sex* ) estan representadas en este dataset?**

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. ¿Cual es la edad promedio (variable *age* ) de las mujeres?**

In [4]:
data.loc[data['sex'].str.strip().str.lower() == "female"]['age'].mean()

36.85823043357163

**3. ¿Cual es el porcentaje de ciudadanos alemanes (variable *native-country*)?**

In [11]:
(data['native-country'].str.strip().str.lower() == 'germany').sum() / sum(data['native-country'] != '') * 100

0.42074874850281013

**4. ¿Cuales son la media y la desviacion estandard de la edad para aquellos que ganan mas de 50k por año (variable *salary*) ?**

In [26]:
data_rich = data[data['salary'].str.strip().str.lower() == '>50k']
print('La media de edad para aquellos que ganan más de 50k por año es de ' + str(round(data_rich['age'].mean(),2)) + ', y la desviación estandard es de ' + str(round(data_rich['age'].std(),2)))

La media de edad para aquellos que ganan más de 50k por año es de 44.25, y la desviación estandard es de 10.52

**5. ¿Cuales son la media y la desviacion estandard de la edad para aquellos que ganan menos de 50k por año (variable *salary*)?**

In [27]:
data_not_rich = data[data['salary'].str.strip().str.lower() != '>50k']
print('La media de edad para aquellos que ganan menos de 50k por año es de ' + str(round(data_not_rich['age'].mean(),2)) + ', y la desviación estandard es de ' + str(round(data_not_rich['age'].std(),2)))

La media de edad para aquellos que ganan menos de 50k por año es de 36.78, y la desviación estandard es de 14.02

**6. ¿Es cierto que la gente que gana mas que 50K tiene al menos educacion media completa? (variable *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate*)**

In [38]:
data_50k = data[data['salary'].str.strip().str.lower() == '>50k']
list = ['bachelors','prof-school','assoc-acdm','assoc-voc','masters','doctorate']
data_50k['education'].str.strip().str.lower().isin(list).all()

False

**7. Muestre los estadisticos para cada raza (*race* feature) y cada género (*sex* feature). Use *groupby()* y *describe()*. Encuentre la edad maxima de los hombres de la raza *Amer-Indian-Eskimo*.**

In [46]:
print('Los estadísticos para cada raza son:')
print(data.groupby('race').describe())
print('Los estadísticos para cada género son:')
print(data.groupby('sex').describe())

Los estadísticos para cada raza son:
                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                                         \
                     max    count           mean            std      min
race
Amer-Indian-Eskimo  82.0    311.0  120831.147910   88338.636336  12285.0
Asian-Pac-Islander  90.0   1039.0  159940.609240   85122.307505  14878.0
Black               90.0   3124.0  228013.124200  123600.677422  19752.0
Other               77.0    271.0  197124.191882   88856.775370  24562.0
White               90.0  27816.0  187298.064280  103124.944196  18827.0

                                                            education-num  \
                         25%       50%       75%        max         count
race
Amer-Indian-Eskimo   35036.5  102541.0  176142.0   445168.0         311.0
Asian-Pac-Islander   93321.0  143098.0  194456.0   506329.0        1039.0
Black               148212.0  205934.0  281693.0  1268339.0        3124.0
Other               138103.0  188793.0  240091.0   481175.0         271.0
White               116902.5  177627.0  233542.5  1484705.0       27816.0

                                                                     \
                         mean       std  min  25%   50%   75%   max
race
Amer-Indian-Eskimo   9.311897  2.310387  2.0  9.0   9.0  10.0  16.0
Asian-Pac-Islander  10.960539  2.811582  1.0  9.0  10.0  13.0  16.0
Black                9.486236  2.297893  1.0  9.0   9.0  10.0  16.0
Other                8.841328  3.226153  1.0  7.5   9.0  10.0  16.0
White               10.135246  2.570307  1.0  9.0  10.0  13.0  16.0

                   capital-gain                                                \
                          count         mean          std  min  25%  50%  75%
race
Amer-Indian-Eskimo        311.0   625.266881  2753.238961  0.0  0.0  0.0  0.0
Asian-Pac-Islander       1039.0  1478.358037  9986.156906  0.0  0.0  0.0  0.0
Black                    3124.0   609.940461  5139.653447  0.0  0.0  0.0  0.0
Other                     271.0   934.660517  8625.128995  0.0  0.0  0.0  0.0
White                   27816.0  1121.660375  7504.533302  0.0  0.0  0.0  0.0

                            capital-loss                                   \
                        max        count       mean         std  min  25%
race
Amer-Indian-Eskimo  27828.0        311.0  34.176849  245.583106  0.0  0.0
Asian-Pac-Islander  99999.0       1039.0  97.222329  423.556931  0.0  0.0
Black               99999.0       3124.0  60.385083  337.394121  0.0  0.0
Other               99999.0        271.0  61.070111  322.452705  0.0  0.0
White               99999.0      27816.0  90.806155  410.833347  0.0  0.0

                                     hours-per-week                        \
                    50%  75%     max          count       mean        std
race
Amer-Indian-Eskimo  0.0  0.0  1980.0          311.0  40.048232  11.695364
Asian-Pac-Islander  0.0  0.0  2457.0         1039.0  40.127045  12.556816
Black               0.0  0.0  4356.0         3124.0  38.422855  10.315646
Other               0.0  0.0  2179.0          271.0  39.468635  11.143755
White               0.0  0.0  4356.0        27816.0  40.689100  12.544796


                    min   25%   50%   75%   max
race
Amer-Indian-Eskimo  3.0  40.0  40.0  40.0  84.0
Asian-Pac-Islander  1.0  40.0  40.0  40.0  99.0
Black               1.0  37.0  40.0  40.0  99.0
Other               5.0  36.0  40.0  40.0  98.0
White               1.0  40.0  40.0  45.0  99.0
Los estadísticos para cada género son:
            age                                                       fnlwgt  \
          count       mean        std   min   25%   50%   75%   max    count
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0  10771.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0  21790.0

                                                                               \
                 mean            std      min        25%       50%        75%
sex
Female  185746.311206  102986.078821  12285.0  117363.00  176077.0  228331.50
Male    191771.449013  106740.702676  13769.0  118200.75  180140.0  241146.25

                  education-num                                             \
              max         count       mean       std  min  25%   50%   75%
sex
Female  1484705.0       10771.0  10.035744  2.379954  1.0  9.0  10.0  12.0
Male    1455435.0       21790.0  10.102891  2.662630  1.0  9.0  10.0  13.0

             capital-gain                                                \
         max        count         mean          std  min  25%  50%  75%
sex
Female  16.0      10771.0   568.410547  4924.262944  0.0  0.0  0.0  0.0
Male    16.0      21790.0  1329.370078  8326.312095  0.0  0.0  0.0  0.0

                capital-loss                                              \
            max        count        mean         std  min  25%  50%  75%
sex
Female  99999.0      10771.0   61.187633  340.907518  0.0  0.0  0.0  0.0
Male    99999.0      21790.0  100.213309  429.763097  0.0  0.0  0.0  0.0

               hours-per-week                                               \
           max          count       mean        std  min   25%   50%   75%
sex
Female  4356.0        10771.0  36.410361  11.811300  1.0  30.0  40.0  40.0
Male    3770.0        21790.0  42.428086  12.119755  1.0  40.0  40.0  49.0


         max
sex
Female  99.0
Male    99.0

**8. De las siguientes categorías, ¿cual es la que tiene la mayor proporcion de ricos (>50K): married or single men (variable *marital-status*)? Considere como casados  aquellos que tienen *marital-status* comenzando por *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), el resto son bachelors.**

In [69]:
a = data.loc[data['marital-status'].str.strip().str.lower().str.startswith('married')]['salary'].value_counts().get('>50K')
b = data.loc[~data['marital-status'].str.strip().str.lower().str.startswith('married')]['salary'].value_counts().get('>50K')

if a>b:
    print('Los casados son mayoría entre los ricos')
elif a<b:
    print('Los solteros son mayoría entre los ricos')
else:
    print('Hay la misma proporción')

Los casados son mayoría entre los ricos

**9. ¿Cual es el máximo de horas que una persona trabaja por semana? (variable *hours-per-week*)? ¿Cuantas personas trabajan ese numero de horas y cual es el porcentaje entre esas personas que ademas ganan mucho (>50K) ?**

In [80]:
maxh = data['hours-per-week'].max()
cant_maxh = data[data['hours-per-week']==data['hours-per-week'].max()].shape[0]
maxh_rich = data[(data['hours-per-week'] == maxh) & (data['salary'] == '>50K')].shape[0]
print('El máximo de horas que trabaja una persona por semana es ' + str(maxh))
print('Hay ' + str(cant_maxh) + ' personas que trabajan el máximo de horas')
print('De las cuales un ' + str(maxh_rich / cant_maxh *100) + '% gana más de 50k')

El máximo de horas que trabaja una persona por semana es 99
Hay 85 personas que trabajan el máximo de horas
De las cuales un 29.411764705882355% gana más de 50k

**10. Cuente en promedio el numero de horas de trabajo (*hours-per-week*) de aquellos que ganan poco, y de los que ganan mucho (*salary*) para cada pais (*native-country*). ¿Cuales son esos conteos medios para Japon?**

In [87]:
print('El promedio de horas de aquellos que ganan poco por país es:')
print(data.loc[data['salary'] == '<=50K'].groupby('native-country')['hours-per-week'].mean())
print('El promedio de horas de aquellos que ganan mucho por país es:')
print(data.loc[data['salary'] == '>50K'].groupby('native-country')['hours-per-week'].mean())

print('En Japón la media de horas de trabajo para los que ganan poco es de ' + 
      str(data.loc[data['salary'] == '<=50K'].groupby('native-country').get_group('Japan')['hours-per-week'].mean()) + 
      ' y para los que ganan mucho es de ' +
      str(data.loc[data['salary'] == '>50K'].groupby('native-country').get_group('Japan')['hours-per-week'].mean()))

El promedio de horas de aquellos que ganan poco por país es:
native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64
El promedio de horas de aquellos que ganan mucho por país es:
native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64
En Japón la media de horas de trabajo para los que ganan poco es de 41.0 y para los que ganan mucho es de 47.958333333333336